<div class="container-fluid fullscreen">
  <!-- <h1>#<%#= @chatroom.name %></h1> -->
  <div class="banner">
    <% if @chatroom.offer.my_item.user == current_user %>
      <div class="d-flex justify-content-center">
        <div class="mr-2">
          <%= cl_image_tag @chatroom.offer.original_item.user.photo.key, class: "avatar-sm" %>
        </div>
        <div>
          <%= @chatroom.offer.original_item.user.name %>
        </div>
        <div>
          <i class="fa fa-exchange-alt text-center col-4"></i>
        </div>
      </div>


      <i class="fa fa-exchange-alt text-center col-4"></i>
    <% else %>
        <div class="d-flex justify-content-center">
          <div class="mr-2">
            <%= cl_image_tag @chatroom.offer.my_item.user.photo.key, class: "avatar-sm" %>
          </div>
          <div class="ml-2 mr-2">
            <%= @chatroom.offer.my_item.user.name %>
          </div>
          <div class="mr-2 ml-2">
            |
          </div>
          <div class="ml-2 mr-2">
            <%= @chatroom.offer.my_item.name %>
          </div>
          <div class="ml-2">
            <%= cl_image_tag @chatroom.offer.my_item.photos.first.key, class: "avatar-sm" %>
          </div>
        </div>



    <% end %>
  </div>
  <div class="" id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
    <% klass = current_user == message.user ? 'right' : 'left' %>
      <div class="message-container" id="message-<%= message.id %>">

          <div class="message-content" id="<%= klass %>">
            <!-- <span><%#= message.user.nickname %></span> -->
            <div class="d-flex <%= klass %>">
              <span><%= cl_image_tag message.user.photo.key, class: "avatar-sm" %></span>
              <p class="message-text">

                  <%= message.content %>

              </p>
            </div>

            <!-- <small><%#= message.created_at.strftime("%a %b %e at %l:%M%p") %></small> -->
            <small><%= message.created_at.strftime("%H:%M") %></small>
          </div>
      </div>
    <% end %>
  </div>

  <div class="fixed-bottom message-input form-group ">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, class: "form-control w-95", :autocomplete => :off, placeholder: "Type your message..." %>
    <% end %>
  </div>

</div>

  <!-- Here is the nav bar. DONT TOUCH!
 -->


<div class="navbar navbar-expand-sm navbar-light navbar-barters navbar-sticky fixed-bottom mt-0">

    <%= link_to items_path do %>

    <i class='fa fa-frog fa-2x' id="icons"></i>
    <% end %>

  <%= link_to new_item_path do %>
   <i class='fa fa-plus-square fa-2x text-primary' id="icons" ></i>
  <% end %>

     <% if current_user %>
      <%= link_to offers_path do %>

      <i class='fa fa-exchange-alt fa-2x text-primary' id="icons"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
      <i class='fa fa-exchange-alt fa-2x text-primary' id="icons"></i>
      <% end %>
    <% end %>

    <div>
    <% if current_user %>

      <div class="dropup">
        <i class=" fa fa-user fa-2x text-primary" id="icons"></i>
          <div class="dropup-content">
           <%= link_to 'My profile', user_path(current_user)  %>
            <%= link_to 'Inbox', chatrooms_path  %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </div>
        </div>

    <% else %>
      <%= link_to new_user_session_path do %>
        <i class='fa fa-user fa-2x text-primary' id="icons"></i>
      <% end %>
    <% end %>
</div>


