<div class="container">
  <h1>#<%= @chatroom.name %></h1>
  <div class="mb-4" id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">

          <% klass = current_user == message.user ? 'right' : 'left' %>
          <div id="<%= klass %>">
            <span><%= message.user.nickname %></span>
            <p class="message"><%= message.content %></p>
            <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </div>
          <br>
      </div>

    <% end %>
  </div>



  <div class="fixed-bottom message-input">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, class: "", placeholder: "Type your message..." %>
    <% end %>
  </div>

</div>



