<div class="header">
  <div class="header-search d-flex">
    <div class="form-group col-10 m-0">
      <%= form_tag items_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        type: "search",
        class: "form-control",
        placeholder: "Search items..." %>
      <% end %>
    </div>
    <div class="search-near col-2">
      <%= link_to(query: "near", controller: "items") do %>
        <i class="fas fa-map-marker-alt"></i>
      <% end %>
    </div>
  </div>

  <div class="header-category mt-3">
    <%= form_tag items_path, method: :get do %>
      <div class="form-group">
        <ul class="list-inline justify-content-center">
          <li class="list-item">
            <%= select_tag :category, options_for_select(Item::ALLCATEGORIES), class: "btn", id: "select-apply" %>
          </li>
          <li class="list-item">
            <%= submit_tag "Apply", class: "btn apply" %>
          </li>
      </div>
        <% end %>
      </ul>
  </div>
</div>

