<div class="header mb-3">
  <div class="header-search d-flex">
    <div class="form-group col-10 m-0">
      <%= form_tag items_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        type: "search",
        class: "form-control",
        placeholder: "Search items..." %>
      <% end %>
    </div>
    <div class="search-near ">
      <%= link_to(query: "near", controller: "items") do %>
        <i class="fas fa-map-marker-alt col-2"></i>
      <% end %>
    </div>
  </div>
  <div class="header-category mt-3">
    <div class="form-row justify-content-around mt-3 mb-3">
      <%= form_tag items_path, method: :get do %>
        <div class="d-flex">
          <%= select_tag :category, options_for_select(Item::ALLCATEGORIES), class: "btn mr-2", id: "select-apply" %>
          <%= submit_tag "Apply", class: "btn apply ml-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

