<div class="banner">Login</div>

<div class="p-4 mt-4">
  <div class="d-flex justify-content-center">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.input :email,
                        required: false,
                        autofocus: true, placeholder: "your email",
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false, placeholder: "psssst... your password",
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>



        <%= f.button :submit, "Login", class: "btn-flat-green btn-lg btn-block mt-4 mb-4" %>
        <% end %>
    </div>
    <%= render "devise/shared/links"%>
  </div>
</div>

