<div class="container-new border">
<div class="info-small border text-center text-primary pt-1">
  <h4 class="m-02"> New trade</h4>
</div>

</nav>

<div class="">

  <div class=" d-flex justify-content-center">


  </div>
  <div class="card-body">
  <div class=" form-new d-flex justify-content-center align-items-center">
    <div>
      <% if current_user.items.exists? %>
      <h6 class="tablinks"><strong>Trade your item</strong> </h6>
         <%= simple_form_for [@original_item, @offer] do |f| %>
         <%= f.association  :my_item,label: "Choose one of your items", collection: @my_items ,as: :radio_buttons%>
         <%= f.button :submit, "Trade!", class: 'btn-sm-green'  %>
         <% end %>
      <% else %>
        <p>No Items to trade</p>
        <%= link_to 'Add your item here', new_item_path %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="text-center">
      <%= link_to new_item_path do %>
      <div>
          <i class="fas fa-plus"></i>
          <p > Add new item</p>
          <% end %>
  </div>
  </div>
</div>











