<%= render 'shared/header_search' %>


<div class="cards">
  <div class="row justify-content-center">
      <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
          <div class="card-index d-flex col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="card-index-img">
              <% item.photos.each do |photo| %>
                <%= cl_image_tag photo.key, crop: :fill, class: "item-img" %>
              <% end %>
            </div>
            <div class="card-body card-index-infos mb-3">
                <div class="card-title text-capitalize"><%= item.name.capitalize %></div>
                <p class="card-text"><%= item.description.first(30) %>...</p>
              <div class="card-subtitle user text-right text-dark mr-2"><%= link_to item.user.name.capitalize, user_path(item.user)%></div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

