
<nav class="nav nav-page pt-2 pb-2 nav-pills nav-fill bg-light">
  <a class="nav-item text-left pl-3" href="/items"></a>
  <a class="nav-item nav-page-title text-center " href="#">Items List</a>
  <i class="nav-item text-right" data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
  </i>
</nav><div class="container">


<div class="masthead">
 <div class="mt-4 mb-4 ">
    <%= form_tag items_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control masthead-search",
      placeholder: "I'm looking for..."
    %>
    <%#= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="container">



  <%= form_tag items_path, method: :get do %>
  <ul class="list-inline tabs-underlined flex-row">
    <li class="d-inline">
      <a href="#" class="tab-underlined active "> Near You </a> |
    </li>

    <li class="d-inline">
      <%= select_tag :category, options_for_select(Item::ALLCATEGORIES), class: "btn-green" %>
    </li>
    <li class="d-inline">
      <%= submit_tag "Filter", class: "btn-green" %>
    </li>
    <% end %>
  </ul>


  <div class="cards ">
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>

          <div class="card-product-lg mb-2 p-2">
            <% item.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "item-img" %>
            <% end %>
            <div class="d-flex justify-content-between align-items-center p-2">
              <div class=" w-100 ">
                <h3><%= item.name.capitalize %></h3>
                <p><%= item.category %></p>
                <p>"<%= item.description.first(30) %>"</p>
              </div>
              <div class="align-middle">
                <%= link_to item.user.name.capitalize, user_path(item.user)  %>
                <%= cl_image_tag item.user.photo.key, class: "avatar-sm"%>

              </div>
            </div>
          </div>

      <% end %>
    <% end %>
  </div>


</div>

