<%= form_with(url: items_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Near You</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Category</a>
  </li>
</ul>


<div class="cards">
  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>

        <div class="card-product">
          <%= cl_image_tag item.photo.key, height: 200, width:350, crop: :fill %>
          <div class="card-product-infos">
            <h3><%= item.name %></h3>
            <p><%= item.category %></p>
            <p>"<%= item.description.first(30) %>"</p>
          </div>
        </div>

    <% end %>
  <% end %>
</div>
