<div class="banner">post your item</div>

<div class="container">
  <div>
    <%= simple_form_for @item do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :category, collection: Item::CATEGORIES%>
          <%#= f.association :tags,
                  as: :check_boxes,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%=f.button :submit, "Submit", class: "btn-lg"%>
    <% end %>
  </div>
</div>
