<div class="info-small border text-center pt-1">
  <h1 class="mb-0"><%= @item.name.capitalize %></h1>
</div>

<div class="item-img" style="background-image: url(<%= cl_image_path @item.photos.key %>)">
</div>


</div>
<div class="border bg-light text-secondary p-1 ">
  <p class="mb-0">Seller</p>

</div>

<div class="border bg-white d-flex align-items-center p-1">
 <%= cl_image_tag @item.user.photo.key, class: 'avatar-large'%>
  <p class="mb-0 ml-1 flex-grow-1"><%= link_to @item.user.name.capitalize, user_path(@item.user) %></p>
  <p class="mb-0 ml-1"><%= link_to @item.user.address.capitalize, user_path(@item.user) %></p>
</div>

</div>
<div class="border bg-light text-secondary p-1 ">
  <p class="mb-0">Description</p>

</div>


<div class="border bg-white ">
  <p class="mb-0 ml-1"><%= @item.description %> </p>
</div>


<div class="border bg-light text-secondary p-1 ">
  <p class="mb-0"><%= @item.user.name.capitalize %>'s other items</p>
</div>

<% @item.user.items.each do |item| %>
<% if item != @item %>
<%= link_to item_path(item) do %>
<div class="card-product">
  <% item.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
  <div class="card-product-infos">
    <h2><%=item.name %></h2>
    <p><%= item.description %></p>
  </div>
</div>
<% end %>
<% end %>
<% end %>

<div class="btn-sticky text-center bg-white mb-0">
  <button class="btn-long"> Trade</button>
</div>

