<div class="info-small border text-center pt-1">
  <h1 class="mb-0"><%= @item.name.capitalize %></h1>
</div>

<div class="item-img" style="background-image: url(<%= cl_image_path @item.photos.first.key %>)">
</div>


</div>
<div class="border bg-light text-secondary p-1 ">
  <p class="mb-0">Seller</p>

</div>

<div class="border bg-white d-flex align-items-center p-1">
 <%= cl_image_tag @item.user.photo.key, class: 'avatar-large'%>
  <p class="mb-0 ml-1 flex-grow-1"><%= link_to @item.user.name.capitalize, user_path(@item.user) %></p>
  <p class="mb-0 ml-1"><%= link_to @item.user.address.capitalize, user_path(@item.user) %></p>
</div>

</div>
<div class="border bg-light text-secondary p-1 ">
  <p class="mb-0">Description</p>

</div>


<div class="border bg-white ">
  <p class="mb-0 ml-1"><%= @item.description %> </p>
</div>


<div class="border bg-light text-secondary p-1 ">
  <p class="mb-0">Current Bids</p>
</div>



  <% @offers.each do |offer| %>
      <%= link_to item_path(offer.my_item) do %>
  <div class="card-product d-inline">
      <% if offer.original_item == @item %>

      <div class="d-flex ">
      <%= cl_image_tag offer.my_item.photos.first.key, height: 300, width: 400, crop: :fill %>

      <div class="card-product-infos">
        <h2><%=offer.my_item.name %></h2>
        <p><%= offer.my_item.name %></p>
        <% if offer.status == nil %>
        <p>Bid by <%= offer.user.name %>, waiting for <%= offer.original_item.user.name %> to respond...</p>
        <% end %>
      </div>
      </div>
  <% end %>
    <% end %>
    <% end %>







<%= link_to new_item_offer_path(@item) do %>
  <div class="btn-sticky text-center bg-white mb-0">
  <button class="btn-long"> Trade</button>
</div>
<% end %>


