<div class="container">
<div class="card card-item-show justify-content-center">
  <div class="card-header text-center text-capitalize"><%= @item.name %></div>

    <div id="carouselExampleControls" class="item-gallery carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @item.photos.each do |photo| %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key, class: 'item-gallery-img d-block w-100' %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        <% end %>
      </div>
      <div class="figure-caption mt-0 pt-1 pb-2 text-center">
        <%= @item.category %> | 3km away
      </div>
    </div>

    <div class="card-body pb-5 align-content-center">
      <div class="card-text text-muted text-center"><%= @item.description %></div>
    </div>
</div>

<div class="jumbotron">
<%= link_to user_path(@item.user) do %>
          <div class="card user-profile mb-3">
              <div class="card-body">
                <div class="d-flex row-cols-2 pb-0">
                  <div class="card-img-top card-img-user w-auto mr-3 col-2 align-items-baseline">
                    <%= cl_image_tag @item.user.photo.key, class: 'avatar-large' %>
                  </div>
                  <div class="card-text pl-3 col-10">
                    <div class="card-title"><%= @item.user.name.capitalize %></div>
                    <div class="card-subtitle"><%= @item.user.address.capitalize %></div>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
  <%# <p>It uses utility classes for typography and spacing to space content out within the larger con
  <p class="lead"> %>

            <div class="user-question">
              <button class="btn question-button col text-center collapse-buttons collapse-button-color" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Questions?
              </button>

            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <% @item.comments.each do |comment| %>
                  <div class="mb-0 bg-light">
                    <p class="message-author"><strong><%= comment.user.name %></strong></p>
                    <p class="message mb-3" ><%= comment.content %></p>
                  </div>
                <% end %>
                <hr>

                <%= simple_form_for [@item, @comment] do |f| %>
                    <div class="form-row align-items-center">
                      <div class="col-8">
                        <%= f.input :content, label: false %>
                      </div>
                      <div class="col-4">
                        <%= f.submit "Send", class: "col btn-sm "%>
                      </div>

                    </div>
                <% end %>
              </div>
            </div>

        </div>
</div>



    <div class="btn-trade">
      <%= link_to new_item_offer_path(@item) do %>
        <div class="btn-sticky text-center bg-white mb-1 mt-2">
          <button class="btn-lg border-0 shadow-none">Trade</button>
        </div>
      <% end %>
    </div>

  <% @offers.each do |offer| %>
    <%= link_to item_path(offer.my_item) do %>
      <div class="card-product d-inline">
          <% if offer.original_item == @item %>
            <div class="d-flex ">
              <%= cl_image_tag offer.my_item.photos.first.key, height: 300, width: 400, crop: :fill %>
                <div class="card-product-infos">
                  <h2><%=offer.my_item.name %></h2>
                  <p><%= offer.my_item.name %></p>
          <% if offer.status == nil %>
            <p>Bid by <%= offer.user.name %>, waiting for <%= offer.original_item.user.name %> to respond...</p>
          <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


