<nav class="nav nav-page pt-2 pb-2 nav-pills nav-fill">
  <a class="nav-item text-left pl-3" href="/items"><i class="fas fa-chevron-left"></i></a>
  <a class="nav-item text-center " href="#">Item details</a>
  <i class="nav-item text-right dropdown pt-1 pr-3 fas fa-ellipsis-v" data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
    <div class="dropdown-menu text-left pl-3 pb-3 pr-3 pt-4" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#"><%= link_to 'Edit profile', edit_user_path %></a>
      <a class="dropdown-item" href="#"><%= link_to 'Log out', '#' %></a>
    </div>
  </i>
</nav>


<div class="card card-item-show">
  <div class="card-header text-center"><%= @item.name %></div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @item.photos.each do |photo| %>
        <div class="carousel-item active">
          <%= cl_image_tag photo.key, class: 'd-block w-100 card-img-top' %>
        </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

      <% end %>
    </div>
  </div>

  <div class="card-header">Seller</div>
  <div class="card-body d-flex">
    <div class="card-img-top card-img-user w-auto mr-3">
      <%= cl_image_tag @item.user.photo.key, class: 'avatar-large' %>
    </div>
    <div class="card-text pl-3">
      <div class="card-title"><%= link_to @item.user.name.capitalize, user_path(@item.user) %></div>
      <div class="card-subtitle text-muted"><%= link_to @item.user.address.capitalize, user_path(@item.user) %></div>
    </div>
  </div>

  <div class="card-header">Description</div>
    <div class="card-body">
      <div class="card-text"><%= @item.description %></div>
    </div>
  </div>
  <div>
      <button class="btn question-button col text-center collapse-buttons collapse-button-color" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Questions:
     </button>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">
    <!-- <div class="form-group"> -->
     <!--  <label for="comment"></label>
      <textarea class="form-control" rows="3" id="comment" placeholder="Add your comment..."></textarea>
   <--  </div> -->
      <!-- <button class="btn btn-primary" type="button">Send</button> -->



      <% @item.comments.each do |comment| %>
      <div class="mb-0 bg-light">
        <p class="message-author"><strong><%= comment.user.name %></strong></p>
        <p class="message mb-3" ><%= comment.content %></p>

      </div>
      <% end %>
       <hr>

      <%= simple_form_for [@item, @comment] do |f| %>
          <div class="form-row align-items-center">
            <div class="col-8">
              <%= f.input :content, label: false %>
            </div>
            <div class="col-4">
              <%= f.submit "Send", class: "col btn-sm "%>
            </div>

          </div>


      <% end %>



  </div>
</div>
  </div>

  <% @offers.each do |offer| %>
      <%= link_to item_path(offer.my_item) do %>
  <div class="card-product d-inline">
      <% if offer.original_item == @item %>

      <div class="d-flex ">
      <%= cl_image_tag offer.my_item.photos.first.key, height: 300, width: 400, crop: :fill %>

      <div class="card-product-infos">
        <h2><%=offer.my_item.name %></h2>
        <p><%= offer.my_item.name %></p>
        <% if offer.status == nil %>
        <p>Bid by <%= offer.user.name %>, waiting for <%= offer.original_item.user.name %> to respond...</p>
        <% end %>
      </div>
      </div>
  <% end %>
    <% end %>
    <% end %>



<%= link_to new_item_offer_path(@item) do %>
  <div class="btn-sticky text-center bg-white mb-1 mt-2">
  <button class="btn-long border-0 shadow-none"> Trade</button>
</div>
<% end %>


